{% extends "layout.html.twig" %}

{% block body %}
    <section id="register">
        <div class="container">
            <div class="row margin-top-xl">
                <h1 class="form-h1 text-center ws-lg">Creer un compte</h1>
            </div>
        </div>
      <div class="well">

          <div class="row">
            <div class="custom-form col-md-offset-2 col-md-8 col-sm-12">
                {{ form_start(form) }}
                {{ form_errors(form) }}

                <div class="form-group margin-top">
                    {{ form_label(form.username, "Pseudo") }}
                    {{ form_errors(form.username) }}
                    <div>
                        {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="form-group margin-top">
                    {{ form_label(form.email, 'Email') }}
                    <div>
                        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="form-group margin-top">
                    {{ form_label(form.plainPassword.first, "Mot de passe") }}
                    {{ form_errors(form.plainPassword.first) }}
                    <div>
                        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group margin-top">
                    {{ form_label(form.plainPassword.second, "Confirmer votre mot de passe") }}
                    {{ form_errors(form.plainPassword.second) }}
                    <div>
                        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="form-group margin-top">
                    <button  class="btn btn-success" type="submit">Créer ce compte </button>
                </div>
                {{ form_end(form) }}
            </div>
          </div>
      </div>
    </section>
{% endblock  %}
