{% extends 'layout.html.twig' %}

{% block header %}
    {% set img = trick.images.first %}
    {% if img != null %}
    <img class="full-img img-header" src="{{ "../" ~ img.getUploadDir() ~ "/" ~ img.url }}" alt="{{ img.alt }}">
    {% else %}
    <img class="full-img img-header" alt="photo par défaut" src="{{asset('img/jg1.jpg') }}">
    {% endif %}

{% endblock %}

{% block body %}
    <section id="trick-show">
        <div id="trick-title" class="container">
            <div class="trick-name row">
                <h1 class="text-center ws-lg">{{ trick.dbToName }}</h1>
            </div>
        </div>
        {% if (trick.images|length != 0 or trick.videos|length != 0) %}
        <div id="view-media" class="container">
            <h3 class="text-center">Media</h3>
        </div>
        {% endif %}
        <div class="flex-div" id="flex-show">
            {% for image in trick.images %}
                <div class="img-slot">
                    <img class="img-responsive image" style="background-image:url({{ "../" ~ image.getUploadDir() ~ "/" ~ image.url }})" alt="{{ image.alt }}" src="{{ "../" ~ image.getUploadDir() ~ "/" ~ image.url }}">
                </div>
            {% endfor %}
            {% for video in trick.videos %}
                <div class="img-slot">
                    <iframe width="200" height="140" src="{{ video.link }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            {% endfor %}
        </div>
        <div class="container">
            <div class="trick-content row">
                <div class="description">
                    <p>{{ trick.description|nl2br }}</p>
                </div>
                <div class="row trick-info">
                    <div class="col-md-offset-3 col-xs-4 col-md-2 text-center trick-date">
                        <div class="header-trick-info"><h4>Date d'ajout</h4></div>
                        <div class="body-trick-info"><p>{{ trick.date | date('d/m/Y') }}</p></div>
                    </div>
                    <div class="col-xs-4 col-md-2 text-center trick-cat">
                        <div class="header-trick-info"><h4>Catégorie</h4></div>
                        <div class="body-trick-info"><p>{{ trick.trickGroup.name }}</p></div>
                    </div>
                    <div class="col-xs-4 col-md-2 text-center trick-update">
                        <div class="header-trick-info"><h4>Modifiée</h4></div>
                        <div class="body-trick-info"><p>
                        {% if trick.updateDate != null %}
                            {{ trick.updateDate | date('d/m/Y') }}
                        {% else %}
                                Nop</p></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% if is_granted('ROLE_USER') %}
        {{ include('views/flash/message.html.twig') }}
        {{ include('views/commentForm.html.twig') }}
    {% endif %}
    <section id="comments">
        <div class="container">
            <div class="row trick-comments">
                {% for comment in trick.comments %}
                    <div class="comment-div col-md-offset-2 col-md-8 col-xs-12">
                        <div class="row">
                            <a href="{{ path('show_profile', {'id': comment.user.id}) }}" >
                                <div class="col-sm-2 user-name">
                                    <div class="row">
                                        {% set avatar = comment.user.userProfile.avatar %}
                                        {% if avatar != null %}
                                            <img class="avatar-comment" src="{{ "../" ~ avatar.getUploadDir() ~ "/" ~ avatar.url }}"/>
                                        {% else %}
                                            <img class="avatar-comment" src="{{ asset('img/avatar.png') }}"/>
                                        {% endif %}
                                    </div>
                                    <div class="row">
                                        <p>{{ comment.user.username }}</p>
                                    </div>
                                </div>
                            </a>
                            <div class="col-sm-10 user-comment">
                                <p>{{ comment.content| nl2br }}</p>
                                <div class="pull-right">
                                    <p>{{ comment.date | date('d/m/Y') }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if trick.comments|length > nbcom  %}
            <div id="loadMore-div">
                <p id="loadMore" class="text-center">Voir plus</p>
            </div>
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/align.js') }}"></script>
    <script src="{{ asset('js/show.js') }}"></script>
{% endblock %}
