<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}SnowTricks{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ asset('css/media.css') }}" type="text/css" rel="stylesheet">
    {% endblock %}
    {% block font %}
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Sedgwick+Ave+Display|Shrikhand" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Bangers|Caveat|Monoton|Orbitron|Permanent+Marker|Rock+Salt|Special+Elite" rel="stylesheet">
    {% endblock %}
</head>

<body>
<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{{ path('home') }}">SnowTricks</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/#tricks-anchor">Tricks</a>
                </li>
                {% if is_granted('ROLE_USER') %}
                <li>
                    <div class="dropdown">
                        {% set avatar = app.user.userProfile.avatar %}
                        {% set user = app.user %}
                        {% if avatar != null %}
                            <a href="#" data-toggle="dropdown"><img class="avatar-menu" src="{{ "/" ~ avatar.getUploadDir() ~ "/" ~ avatar.url }}"><span class="caret"></span></a>
                        {% else %}
                            <a href="#" data-toggle="dropdown"><img class="avatar-menu" src="{{ asset('img/avatar.png') }}"><span class="caret"></span></a>
                        {% endif %}
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('show_profile', {'id' : user.id }) }}">Profil</a> </li>
                            <li><a href="{{ path('logout') }}">Déconnexion</a></li>
                        </ul>
                    </div>
                </li>

                {% else %}
                <li>
                    <a href="{{ path('login') }}">Connexion</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div id="header">
    {% block header %}

    {% endblock %}
</div>

    <aside id="menu">
    {% if is_granted('ROLE_USER') %}
        {% if (app.request.get('_route') == 'trick_show') %}
            <a href="{{ path('trick_update', {'name': trick.name}) }}"><div id="menu-edit"><i class="glyphicon text-center glyphicon-edit"></i></div></a>
        {% elseif (app.request.get('_route') == 'show_profile') %}
            <a href="{{ path('update_profile') }}"><div id="menu-edit"><i class="glyphicon text-center glyphicon-edit"></i></div></a>
        {% endif %}
        <a href="{{ path('trick_add') }}"><div id="menu-add"><i class="glyphicon text-center glyphicon-pencil"></i></div></a>
        {%  if (app.request.get('_route') == 'home') %}
            <a href="#tricks-anchor" class="scroll-to">
        {% else %}
            <a href="/#tricks-anchor" class="scroll-to">
        {% endif %}
            <div id="menu-scroll-connected"><i class="glyphicon text-center glyphicon-flash"></i></div></a>
        <a href="{{ path('home') }}"><div id="menu-home"><i class="glyphicon text-center glyphicon-home"></i></div></a>
        <div id="menu-plus" class="trigger-off"><i class="glyphicon text-center glyphicon-plus"></i></div>
    {% else %}
        {% if (app.request.get('_route') == 'home') %}
            <a href="#tricks-anchor" class="scroll-to"><div id="menu-scroll"><i class="glyphicon text-center glyphicon-flash"></i></div></a>
        {% else %}
            <a href="/#tricks-anchor" class="scroll-to"><div id="menu-scroll"><i class="glyphicon text-center glyphicon-flash"></i></div></a>
        {% endif %}
    {% endif %}
    </aside>
{% block body %}
    {% endblock %}

    <footer>
        {%  block footer %}
        {% endblock %}
        <div class="container">
            <div id="footer-text">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <p>SnowTricks addict © {{ 'now'|date('Y') }}</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

{% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ asset('js/menu.js') }}"></script>
{% endblock %}

</body>
</html>

